@model HotelDb.Models.Room

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group mb-3">
    <label asp-for="Number" class="control-label">Номер кімнати</label>
    <input asp-for="Number" class="form-control bg-dark text-white border-dark" />
    <span asp-validation-for="Number" class="text-danger"></span>
</div>
<div class="form-group mb-3">
    <label asp-for="Type" class="control-label">Тип</label>
    <select asp-for="Type" class="form-control bg-dark text-white border-dark">
        <option value="">Виберіть тип</option>
        <option value="Single">Одномісний</option>
        <option value="Double">Двомісний</option>
        <option value="Presidental">Президентський</option>
    </select>
    <span asp-validation-for="Type" class="text-danger"></span>
</div>
<div class="form-group mb-3">
    <label asp-for="Price" class="control-label">Ціна (грн/ніч)</label>
    <input asp-for="Price" class="form-control bg-dark text-white border-dark" type="number" step="0.01" />
    <span asp-validation-for="Price" class="text-danger"></span>
</div>
<div class="form-group mb-3">
    <label asp-for="Status" class="control-label">Статус</label>
    <select asp-for="Status" class="form-control bg-dark text-white border-dark">
        <option value="">Виберіть статус</option>
        <option value="Free">Вільний</option>
        <option value="Booked">Заброньовано</option>
    </select>
    <span asp-validation-for="Status" class="text-danger"></span>
</div>  